# Global owners
* @tbenthompson @MarcAntoineSchmidtQC @xhochy

# Core
/src/tabmat/ @MarcAntoineSchmidtQC

# Cython / C++
*.pyx @tbenthompson
*.cpp @tbenthompson
*.h @tbenthompson

# CI
/.github/  @tbenthompson
/conda.recipe/ @tbenthompson
