repos:
 - repo: https://github.com/Quantco/pre-commit-mirrors-black
   rev: 23.3.0
   hooks:
     - id: black-conda
       additional_dependencies: [flake8-docstrings, flake8-rst-docstrings]
       args:
         - --safe
         - --target-version=py36
 - repo: https://github.com/Quantco/pre-commit-mirrors-flake8
   rev: 6.0.0
   hooks:
    - id: flake8-conda
      additional_dependencies: [
          -c,
          conda-forge,
          flake8-bugbear=21.4.3,
          flake8-builtins=1.5.3,
          flake8-comprehensions=3.5.0,
          flake8-docstrings=1.6.0,
          flake8-print=4.0.0,
          pep8-naming=0.11.1,
        ]
 - repo: https://github.com/Quantco/pre-commit-mirrors-isort
   rev: 5.12.0
   hooks:
    - id: isort-conda
      additional_dependencies: [toml]
 - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
   rev: "1.3.0"
   hooks:
    - id: mypy-conda
      additional_dependencies:
       - python=3.8
 - repo: https://github.com/Quantco/pre-commit-mirrors-pyupgrade
   rev: 3.7.0
   hooks:
    - id: pyupgrade-conda
 - repo: https://github.com/Quantco/pre-commit-mirrors-cython-lint
   rev: 0.15.0
   hooks:
    - id: cython-lint-conda
      args: [--no-pycodestyle]
    - id: double-quote-cython-strings-conda
