repos:
  - repo: https://github.com/Quantco/pre-commit-mirrors-ruff
    rev: 0.4.3
    hooks:
      - id: ruff-conda
      - id: ruff-format-conda
  - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
    rev: "1.10.0"
    hooks:
      - id: mypy-conda
  - repo: https://github.com/Quantco/pre-commit-mirrors-cython-lint
    rev: 0.16.2
    hooks:
      - id: cython-lint-conda
        args: [--no-pycodestyle]
      - id: double-quote-cython-strings-conda
