[project]
name = "tabmat"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[tasks.install-nightlies]
cmd = """
    PRE_WHEELS="https://pypi.anaconda.org/scientific-python-nightly-wheels/simple/"
    && pip install --pre --no-deps --only-binary :all: --upgrade --timeout=60 -i $PRE_WHEELS numpy
    && pip install --pre --no-deps --only-binary :all: --upgrade --timeout=60 -i $PRE_WHEELS pandas
    && pip install --pre --no-deps --only-binary :all: --upgrade --timeout=60 -i https://pypi.fury.io/arrow-nightlies/ pyarrow
    && pip install --no-deps git+https://github.com/matthewwardrop/formulaic
"""

[feature.test.tasks]
test = "pytest tests --doctest-modules src"

[feature.docs.tasks]
make-docs = "cd docs && make html"
serve-docs = { cmd = "python -m http.server --directory docs/_build/html", depends-on = ["make-docs"] }
readthedocs = { cmd = "rm -rf $READTHEDOCS_OUTPUT/html && cp -r docs/_build/html $READTHEDOCS_OUTPUT/html", depends-on = ["make-docs"] }

[feature.benchmark.tasks.benchmark-generate-matrices]
cmd = "python src/tabmat/benchmark/generate_matrices.py"
inputs = ["src/tabmat/benchmark/generate_matrices.py"]
outputs = [
    "benchmark/data/dense_cat_data.pkl",
    "benchmark/data/one_cat_data.pkl",
    "benchmark/data/one_cat_data.pkl,",
    "benchmark/data/dense_data.pkl",
    "benchmark/data/sparse_data.pkl",
    "benchmark/data/two_cat_data.pkl",
    "benchmark/data/dense_smallcat_data.pkl",
    "benchmark/data/dense_smallcat_data.pkl",
]
[feature.benchmark.tasks.benchmark-run]
cmd = "python src/tabmat/benchmark/main.py --include_baseline --bench_memory --n_iterations 100"
depends-on = ["benchmark-generate-matrices"]
inputs = [
    "src/tabmat/benchmark/main.py",
    "benchmark/data/dense_cat_data.pkl",
    "benchmark/data/one_cat_data.pkl",
    "benchmark/data/one_cat_data.pkl,",
    "benchmark/data/dense_data.pkl",
    "benchmark/data/sparse_data.pkl",
    "benchmark/data/two_cat_data.pkl",
    "benchmark/data/dense_smallcat_data.pkl",
    "benchmark/data/dense_smallcat_data.pkl",
]
outputs = [
    "benchmark/data/dense_cat_bench.csv",
    "benchmark/data/one_cat_bench.csv",
    "benchmark/data/one_cat_bench.pcsv",
    "benchmark/data/dense_bench.csv",
    "benchmark/data/sparse_bench.csv",
    "benchmark/data/two_cat_bench.csv",
    "benchmark/data/dense_smallcat_bench.csv",
    "benchmark/data/dense_smallcat_bench.csv",
]
[feature.benchmark.tasks.benchmark-visualize]
cmd = "python src/tabmat/benchmark/visualize_benchmarks.py"
depends-on = ["benchmark-run"]
inputs = [
    "src/tabmat/benchmark/visualize_benchmarks.py",
    "benchmark/data/dense_cat_bench.csv",
    "benchmark/data/one_cat_bench.csv",
    "benchmark/data/one_cat_bench.pcsv",
    "benchmark/data/dense_bench.csv",
    "benchmark/data/sparse_bench.csv",
    "benchmark/data/two_cat_bench.csv",
    "benchmark/data/dense_smallcat_bench.csv",
    "benchmark/data/dense_smallcat_bench.csv",
]

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[build-dependencies]
c-compiler = "*"
cxx-compiler = "*"
cython = "*"
make = "*"
mako = "*"
setuptools = ">=62.0"
setuptools-scm = ">=8.1"
xsimd = "<11|>12.1"
[target.unix.dependencies]
jemalloc-local = "*"

[host-dependencies]
python = ">=3.9"
pip = "*"
setuptools = "*"
wheel = "*"

[dependencies]
formulaic = ">=0.6.4"
numpy = ">=1.24.0"
pandas = ">=1.4.4"
scipy = ">=1.7.3"
narwhals = ">=1.4.1"

[feature.dev.dependencies]
ipython = "*"
ipykernel = "*"

[feature.test.dependencies]
click = "*"
pytest = "*"
pytest-xdist = "*"
polars = "*"  # exclusively for polars tests
pyarrow = "*"  # exclusively for polars tests
mypy = "*"

[feature.lint.dependencies]
pre-commit = "*"
ruff = "*"
cython-lint = "*"

[feature.docs.dependencies]
jupyterlab = "*"
jupytext = "*"
make = "*"
matplotlib-base = "*"
numpydoc = "*"
seaborn-base = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-apidoc = "*"

[feature.benchmark.dependencies]
click = "*"
seaborn-base = "*"
[feature.benchmark.target.win-64.dependencies]
blas = { build = "*mkl" }
[feature.benchmark.target.linux-64.dependencies]
blas = { build = "*mkl" }

[feature.py39.dependencies]
python = "3.9.*"
[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.py313.dependencies]
python = "3.13.*"

[feature.oldies.dependencies]
setuptools = "62.*"
python = "=3.9.19"
numpy = "=1.24.0"
pandas = "=1.4.4"
scipy = "=1.7.3"
formulaic = "=0.6.4"
narwhals = "=1.4.1"

[environments]
default = ["dev", "test"]
docs = ["docs"]
benchmark = ["benchmark"]
py39 = ["py39", "test"]
py310 = ["py310", "test"]
py311 = ["py311", "test"]
py312 = ["py312", "test"]
py313 = ["py313", "test"]
oldies = ["oldies", "test"]
lint = { features = ["lint"], no-default-feature = true}
nightly = ["py313", "test"]
