name: conda-build
on:
  # We would like to trigger for CI for any pull request action -
  # both from QuantCo's branches as well as forks.
  pull_request:
  # In addition to pull requests, we want to run CI for pushes
  # to the main branch and tags.
  push:
    branches:
      - "main"
    tags:
      - "*"

jobs:
  conda-build:
    name: ${{ matrix.conda_build_yml }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { conda_build_yml: linux_64_python3.9_default.____cpython,       os: ubuntu-latest,  conda-build-args: '' }
          - { conda_build_yml: linux_64_python3.13_default.____cpython,      os: ubuntu-latest,  conda-build-args: '' }
          - { conda_build_yml: linux_aarch64_python3.10_default.____cpython, os: ubuntu-latest,  conda-build-args: ' --no-test' }
          - { conda_build_yml: linux_ppc64le_python3.10_default.____cpython, os: ubuntu-latest,  conda-build-args: ' --no-test' }
          - { conda_build_yml: osx_64_python3.11_default.____cpython,        os: macos-latest,   conda-build-args: ' --no-test' }
          - { conda_build_yml: osx_arm64_python3.9.____cpython,              os: macos-latest,   conda-build-args: '' }
          - { conda_build_yml: osx_arm64_python3.13.____cpython,             os: macos-latest,   conda-build-args: '' }
          - { conda_build_yml: win_64_python3.9.____cpython,                 os: windows-latest, conda-build-args: '' }
          - { conda_build_yml: win_64_python3.13.____cpython,                os: windows-latest, conda-build-args: '' }

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
      - name: Fetch full git history
        run: git fetch --prune --unshallow
      - uses: mamba-org/setup-micromamba@0dea6379afdaffa5d528b3d1dabc45da37f443fc
        with:
          init-shell: ${{ matrix.os == 'windows-latest' && 'cmd.exe' || 'bash' }}
          micromamba-version: 1.5.10-0
          environment-name: build
          create-args: conda-build
      - name: Patch conda build configuration
        # use the latest macOS SDK when cross-compiling for arm64
        if: startsWith(matrix.conda_build_yml, 'osx_arm64')
        run: |
          CONDA_BUILD_SYSROOT="$(xcrun --sdk macosx --show-sdk-path)"
          cat <<EOF >> ".ci_support/${{ matrix.CONDA_BUILD_YML }}.yaml"
          CONDA_BUILD_SYSROOT:
            - "${CONDA_BUILD_SYSROOT}"
          EOF
      - name: Build conda package (unix)
        if: matrix.os != 'windows-latest'
        shell: bash -el {0}
        run: >-
          conda-build
          -m ".ci_support/${{ matrix.CONDA_BUILD_YML }}.yaml"${{ matrix.conda-build-args }}
          conda.recipe
      - name: Build conda package (windows)
        if: matrix.os == 'windows-latest'
        shell: cmd /C CALL {0}
        run: >-
          conda-build
          -m ".ci_support/${{ matrix.conda_build_yml }}.yaml"${{ matrix.conda-build-args }}
          conda.recipe
